[alias]
	commits = log --color --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mclone = clone --depth=1
	stats = diff --stat
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[commit]
	gpgSign = true
[core]
	editor = nano
[user]
	signingkey = 0C8E8E752A40A8B350BD02E3373612B73AF7ABB2
	name = strangeprogram
	email = hive.mind@reflection.theory
[pull]
	ff = only
